In [2]:
import pandas as pd

In [5]:
jan_df = pd.read_csv('Data/202001.csv')
feb_df = pd.read_csv('Data/202002.csv')
mar_df = pd.read_csv('Data/202003.csv')
apr_df = pd.read_csv('Data/202004.csv')
may_df = pd.read_csv('Data/202005.csv')
jun_df = pd.read_csv('Data/202006.csv')
jul_df = pd.read_csv('Data/202007.csv')
aug_df = pd.read_csv('Data/202008.csv')

frames = [jan_df,feb_df,mar_df,apr_df,may_df,jun_df,jul_df,aug_df]

year_df = pd.concat(frames)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [9]:
year_df.to_csv('Data/2020_Aggregation.csv')